.container
  .row.main_title
    .seven.columns
      %h1 Pittsburgh New Media
    .five.columns
      %h3 
  .row
    .seven.columns
      %h3 About the Pittsburgh New Media Meetup

      %p
        The Pittsburgh New Media Meetup is an informal group of professionals, students, and enthusiasts interested in the intersections of technology, the arts, and media.  We meet monthly to share ideas, find collaborators, and work together to improve our work and the state of new media in the Pittsburgh Area.  

      %p
        We meet monthly
    .five.columns
      %ul
        %li= link_to "Join our Slack", "http://pnma.herokuapp.com/"
        %li= link_to "Join the Mailing List", "https://groups.google.com/forum/#!forum/new-media-arts-pgh/join"