.container
  .row.main_title
    %h1 PGH New Media Meetup
    %img.u-max-full-width{src: "/images/donut.jpg"}
  .row
    .eight.columns
      %p
        The PGH New Media Meetup is an informal group of professionals, students, and enthusiasts interested in the intersections of technology, the arts, and media.  We meet monthly to share ideas, find collaborators, and work together to improve our work and the state of new media arts in the Pittsburgh area.  

      %p
        Our monthly meetings are held on Monday evenings at various places around the city. We don't have formal lectures; it's just people hanging out, sharing interesting work, talking about what we love and what we wish we could bring to life in our city.  And every once in a while, we'll get together as a community to do installation projects.
      %p
        If you'd like to join us, do! Everyone is welcome, and there's no "official" membership.  the best way to get involved to do is subscribe 
        = link_to "to the mailing list", "https://groups.google.com/forum/#!forum/new-media-arts-pgh/join"
        or the 
        = link_to "slack channel.", "http://pnma.herokuapp.com/"
        That's it!  You'll get the notifications about when and where we're meeting.

    .four.columns
      %h4 Join us.
      %ul
        %li= link_to "Join our Slack", "http://pnma.herokuapp.com/"
        %li= link_to "Join the Mailing List", "https://groups.google.com/forum/#!forum/new-media-arts-pgh/join"